*{
  margin:0;
}
body{
  background-color: black;
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input{
  align-self:center ;
  width: 40%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.container{
  margin: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 50px;
}
.card-header img{
  height:200px;
  width: 300px;
}
.card-body p{
  margin-top: 10px;
}